<p id="notice"><%= notice %></p>

<h1>Codes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @codes.each_with_index do |code, i| %>
      <tr>
        <td><%= code.language.name %></td>
        <td id="editor_<%= i %>" style="width: 100%; height: 100px;" class=""><pre><%= code.source%></pre></td>
        <td><%= link_to 'Edit', edit_code_path(code) %></td>
        <td><%= link_to 'Destroy', code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
<script>
  var preNum = $('pre').length;
  for (var i = 0; i < preNum; i++) {
    ace.edit("editor_" + (i));
    ace.edit("editor_" + (i)).setReadOnly(true);
  }
</script>
