<% @codes.each_with_index do |code, i| %>
  <div class="card mb-3">
    <div class="card-header py-1">
      <span class="mr-3 font-weight-bold"><%= code.language.name %></span>
      <%= link_to edit_code_path(code), class: "btn btn-outline-dark d-block d-md-inline-block mb-2 mb-md-0 rounded-pill mx-1" do %>
        <i class="fas fa-edit"></i>
      <% end %>
      <%= link_to code, class: "btn btn-outline-danger d-block d-md-inline-block mb-2 mb-md-0 rounded-pill mx-1", method: :delete, data: { confirm: '本当に削除しますか？' } do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>
    <div class="card-body">
      <div id="editor_<%= i %>" style="width: 100%; height: 100px;" class=""><pre><%= code.source%></pre></div>
    </div>
  </div>
<% end %>
<br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
<%= javascript_include_tag "index.js" %>


