<!DOCTYPE html>
<html>
  <head>
    <title>RunCode</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "facebook.js" %>
    <script src="https://kit.fontawesome.com/46802598d1.js"></script>
  </head>

  <body>
    <div class="container">
      <%= Gon::Base.render_data %>
      <header>
        <%= render 'layouts/navbar' %>
      </header>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <% unless user_signed_in? %>
        <%= render partial: 'users/registrations/new' %>
        <%= render partial: 'users/sessions/new' %>
      <% end %>
    </div>
  </body>
</html>
